@model Nop.Plugin.Widgets.VisitorsCrud.Models.ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Widgets.VisitorsCrud");
}

<form asp-controller="WidgetsVisitorsCrud" asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <input asp-for="Id" type="hidden" />
    <section class="content">
        <div class="container-fluid">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-header">
                        @T("Plugins.Widgets.VisitorsCrud.AddVisitorButton")
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Name" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Name" asp-required="true" />
                                <span asp-validation-for="Name"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Age" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Age" asp-required="true" />
                                <span asp-validation-for="Age"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Gender" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="Gender" asp-items="Model.GenderSelection" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Phone" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Phone" asp-required="true" />
                                <span asp-validation-for="Phone"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-9 offset-md-3">
                                <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>